@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@700&family=Oxygen+Mono&display=swap');
* {
	box-sizing: border-box;
}

html {
	height: 100%;
}

p {
	line-height: 1.4;
}

body {
	background-color: #292929;
	font-family: 'Oxygen Mono', monospace;
	color: #c7c5e2;
}

#main {
	margin: 0 auto;
	padding: 40px 40px 120px 40px;
	max-width: 1000px;
	height: 100%;
}

a {
	color: #7553af;
	text-decoration: none;
}

h1, h2, h3 {
	color: #8770c2;
	font-family: 'Fira Mono', monospace;
}

footer {
	background-color: #292929;
	padding: 40px;
	position: fixed;
	bottom: 0;
	width: 100%;
	font-size: 12px;
	text-align: center;
}

/* Add padding between td's */
#nav td {
	padding-right: 20px;
	font-size: 24px;
}

#nav td#title a {
	font-family: 'Fira Mono', monospace;
	color: #8770c2;
}


#nav td a {
	font-family: 'Fira Mono', monospace;
}
